@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

#main{
    display: grid;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 80% 20%;
}

.start-button{
    appearance: none;
    border: none;
    background: transparent;
    display: flex;
    cursor: pointer;
    position: relative;
    animation: beat 0.6s ease-in-out infinite;
}

.spin {
  animation: spin 3s linear infinite; 
}

@keyframes beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

#card-grid > img{
    height: 20rem;
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem 0.1rem #000000;
}

#score-board{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    border: 0.5rem solid #000000;
    border-radius: 1rem;
    background-color: aliceblue;
}

#score-board > div{
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
}

.green-text{
    color: #68c609;
}

#score{
    border-right: 0.5rem solid black;
}

#high-score{
    border-left: 0.5rem solid black;
}