#main{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.startBtn{
    appearance: none;
    border: none;
    background: transparent;
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.startBtn:hover{
    transform: scale(1.1);
}

#card-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

#card-grid > img{
    height: 20rem;
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem 0.1rem #000000;
    transition: transform 0.3s ease;
}

#card-grid > img:hover{
    transform: scale(1.1);
}